<div id="navbar">
	<a href="#/create">Create a New Poll</a> | <a href="" ng-click="logout()">Logout</a>
</div>

<h1 class="fw">Current Polls:</h1>

<form id="dashboardFilter" class="fw">
	<input type="text" ng-model="filterSurveys" placeholder="Search">
</form>

<div class="fw">
	<table id="dashboardTable" >
		<tr>
			<th>Name</th>
			<th>Survey Question</th>
			<th>Date Posted</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="survey in surveys | filter:filterSurveys">
			<td>{{ survey.user.name }}</td>
			<td><a href="#/poll/{{ survey._id }}">{{ survey.question }}</a></td>
			<td>{{ survey.created_at }}</td>
			<td><a href="" ng-if="survey.user._id == current_user._id" ng-click="delete(survey._id)">Delete</a></td>
		</tr>
	</table>
</div>